<!DOCTYPE html>
<html>
  <head>
   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
   <link rel="stylesheet" href="../../css/styles.css">
   <title> Create a Contact </title>
  </head>

  <body>
  <div class="container container-fluid">
   <div class="jumbotron">
     <h1><strong> Address Lookup </strong></h1>
   </div>
      <p><em> To create a new Contact, please fill out the form below in its entirety to successfully add Contact with details.  Submit form once completed, to save Contact into Contacts List.</em></p>
      <form id="inputContact" action="/Home" method="post">
        <div class="form-group" id="inputDetails">
        <h3> Contact Details </h3>
          <label for="firstName"> First name: </label>
          <input type="text" name="firstName" class="form-control" required>
          <hr>
          <label for="lastName"> Last name: </label>
          <input type="text" name="lastName" class="form-control" required>
          <hr>
          <label for="number"> Phone number (format: 000-000-0000): </label>
          <input type="text" name="number" class="form-control" required>
          <hr>
          <label for="email"> Email: </label>
          <input type="text" name="email" class="form-control" required>
        </div>

        <div class="form-group" id="inputAddress">
        <h3> Full Address </h3>
          <label for="streetNum"> Street Number: </label>
          <input type="text" name="streetNum" class="form-control" required>
          <hr>
          <label for="streetName"> Street Name: </label>
          <input type="text" name="streetName" class="form-control" required>
          <hr>
          <label for="city"> City: </label>
          <input type="text" name="city" class="form-control" required>
          <hr>
          <label for="state"> State: </label>
          <input type="text" name="state" class="form-control" required>
          <hr>
          <label for="zipcode"> Zipcode: </label>
          <input type="text" name="zipcode" class="form-control" required>
        </div>
        <button type='submit' class='btn btn-primary'> Add to Contact List </button>
    </form>
    <br>
    <a href="/"><h3> Return Home </h3></a>
  </div>
</html>
