<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
    <title> Address Lookup </title>
  </head>
  <body>
    <div id="home" class="container">
      <div class="jumbotron">
        <h1><strong> Address Lookup </strong></h1>
      </div>

      <div class="container container-fluid">
        <div class="row" id="row1">
          <div class="col-md-12">
            <h1> Address Lookup </h1>
              <p> Use this website to keep track of your Contacts List.  Create and save individual Contacts with details. Delete from your Contacts List or remove the entirety of your Contacts List whenever needed.
          </div>
        </div>

        <hr>
        <div class="row" id="row2">
          <div class="col-md-12">
            <a href="Form"><button type="button" class="btn" id="formbtn"> Create a Contact </button></a>
          </div>
        </div>

        <div class="row" id="row3">
          <div class="col-md-12">
            <a href="Remove"><button type="button" class="btn" id="deletebtn"> Remove a Contact </button></a>
          </div>
        </div>

        <button type="button" class="btn" id="deleteallbtn"> Delete your entire Contacts List </button>

      </div>
  </body>
</html>
