<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
    <title> Remove a Contact </title>
  </head>
  <body>
    <div class="container">
    <div class="jumbotron">
      <h1><strong> Contact List </strong></h1>
    </div>
    <h1>You removed your entire Contact List </h1>
    <p><a href="/"> Return Home </a></p>
  </div>
  </body>
</html>
